#box_l {
    height:max-content;
    background-color: #273248;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-align: center;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}
.f_items{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px;
}

#bottom_login{
    display: flex;
    justify-content: space-between;
}

.links_color{
    color:rgb(32, 157, 247);
}

input{
    border: none;
}

input:hover{
    border: none;
}

.text-small{
    font-size: 10px;
}

.input_v{
    width: 65%;
}